.ingredient-card {
    width: 98px;
    height: 153px;
    padding: 14px 13px 13px 13px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
    border: 2px solid #A88F67;
    background: #FDF8E2;
}

.ingredient-image{
    height: 40px;
}

.ingredient-header{
    color: #224724;
    height: 19px;
    align-self: stretch;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.44px;
}

.ingredient-price{
    font-size: 0.9rem;
    color: #224724;
    font-weight: 500;
}
