#user-page {
  padding: 40px 0px;
}

.user-page-wrapper {
  display: flex;
  gap: 40px;
  max-width: var(--page-max-width);
  margin: 0 auto;
  width: 90%;
}

.user-page-user-card {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.user-page-divider {
  border: 1px solid #e6e6e6;
}

.user-page-user-card-header {
  display: flex;
  gap: 20px;
}

.user-cad-header-logout {
  display: flex;
  align-items: end;
}

.user-page-user-card-header h2 {
  margin-bottom: 10px;
}

.user-card-username {
  width: 100%;
}

.user-page-user-card-header .user-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.action-grid .action-btn.logout {
  background-color: var(--red);
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: 0.5s all;
  font-size: 1rem;
}

.action-grid .action-btn.logout:hover {
  opacity: 0.6;
}

.user-page-user-card .checkout-inputs {
  margin-top: 0;
}

.user-card-personal-container .checkout-input-row {
  position: relative;
}
.user-card-personal-container .checkout-input-row .text-button {
  position: absolute;
  right: 5px;
  background: linear-gradient(
    90deg,
    rgba(230, 229, 206, 0) 0%,
    rgba(230, 229, 206, 1) 14%,
    rgba(230, 229, 206, 1) 100%
  );
  height: 60%;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.user-page-orders-card {
  width: 40%;
}

.user-page-orders-card h2 {
  margin-bottom: 20px;
}

.user-page-save-address-changes-container {
  display: flex;
  justify-content: flex-end;
  margin-top: -10px;
}

/* email 2fa switch */

.email-2FA-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.email-2FA-container p {
  font-weight: bold;
}

.switch {
  position: relative;
  display: inline-block;
  width: 69px;
  height: 34px;
}

.toggle-btn {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  z-index: 3;
  font-size: 12px;
  font-weight: bold;
  color: #919185;
  display: flex;
  align-items: center;
  justify-content: right;
  user-select: none;
  margin-left: -7px;
}

/* Background slider */
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e6e5ce;
  transition: 0.4s;
}

/* Circle knob */
.slider::before {
  content: "";
  position: absolute;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #919185;
  transition: 0.4s;
}

/* Active state */
.switch.active .slider {
  background-color: var(--color-green);
}

.switch.active .slider::before {
  transform: translateX(35px);
  background-color: white;
}

.switch.active .toggle-btn {
  justify-content: left;
  margin-left: 10px;
  color: white;
}

.user-page-divider {
  border: 1px solid #e6e6e6;
}

/* order card */
.simple-orders-list {
  height: 700px;
  overflow-y: scroll;
}
.order-list {
  margin-top: 20px;
  font-size: 15px;
  line-height: 1.5;
}

.order {
  padding: 16px 0;
}

.order-header {
  display: flex;
  font-size: 18px;
  margin-bottom: 6px;
  gap: 5px;
}

.order-header strong {
  color: #1c3d19;
}

.order-total {
  font-weight: bold;
  color: #1c3d19;
  margin-left: auto;
}

.order-date {
  color: #7f8c8d;
  font-size: 14px;
  margin-bottom: 8px;
}

.order-items {
  color: #34495e;
  margin-bottom: 12px;
}

.reorder-btn {
  background: none;
  border: none;
  color: #e74c3c;
  font-weight: 600;
  cursor: pointer;
  padding: 0;
  font-size: 14px;
}

.reorder-btn:hover {
  text-decoration: underline;
}

.order-divider {
  border: none;
  border-top: 1px solid #eee;
  margin: 20px 0 0 0;
}

.dt-icon {
  width: 100%;
  height: 100%;
  margin-right: 8px;
  vertical-align: middle;
  margin-top: -5px;
}

@media (max-width: 800px) {
  .user-page-wrapper {
    flex-direction: column;
  }

  .user-page-user-card {
    width: 100%;
  }

  .user-page-orders-card {
    width: 100%;
  }

  .user-page-user-card-header {
    flex-direction: column;
  }

  .user-card-personal-container .checkout-input-row .text-button {
    bottom: 6px;
    right: 10px;
    height: 40%;
  }

  .simple-orders-list {
    overflow-y: visible;
    height: 100%;
  }
}
