.button {
  background-color: var(--color-green);
  color: white;
  padding: 13px 22px;
  display: flex;
  gap: 10px;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  transition: 0.3s ease;
  white-space: nowrap;
  text-align: center;
  justify-content: center;
  border: none;
}

.button img {
  width: 17px;
}

.button:hover {
  opacity: 0.8;
}
