.button {
  background-color: var(--color-green);
  color: white;
  padding: 13px 22px;
  display: flex;
  gap: 10px;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  transition: 0.3s ease;
  white-space: nowrap;
  text-align: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}

.button img {
  width: 17px;
}

.button:hover {
  opacity: 0.8;
}

.button-delete {
  background-color: var(--color-red);
}

.button-delete:hover {
  opacity: 0.6;
}
