/* View User Details Modal Styles */

.view-user-details-modal {
  display: block;
  width: 1200px !important;
}

.view-user-details-header {
  margin-bottom: 24px;
}

.view-user-details-header-user-id {
  color: #6c757d;
  font-size: 1rem;
  margin-bottom: 4px;
}

.view-user-details-header-user-name h3 {
  margin-bottom: 8px;
  color: var(--color-green);
  font-size: 2rem;
  font-weight: 500;
}

.view-user-details-header-last-login {
  color: #6c757d;
  font-size: 1rem;
  margin-bottom: 24px;
}

.view-user-details-section {
  margin-bottom: 24px;
}

.view-user-details-section--final {
  margin-bottom: 32px;
}

.view-user-details-section-title {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 16px;
  color: var(--color-green);
}

.view-user-details-section-divider {
  height: 1px;
  background-color: #e9ecef;
  margin: 24px 0;
  border: none;
}

.view-user-details-grid {
  display: grid;
  gap: 23px;
  margin-bottom: 16px;
}

.view-user-details-grid--two-columns,
.view-user-details-grid--three-columns,
.view-user-details-grid--five-columns,
.view-user-details-grid--six-columns {
  grid-template-columns: repeat(
    var(--user-details-columns, auto-fill),
    minmax(50px, 205px)
  );
  width: 900px;
}

.view-user-details-field {
  display: block;
}

.view-user-details-field label {
  display: block;
  font-size: 0.8rem;
  color: #6c757d;
  margin-bottom: 10px;
  font-weight: 500;
}

.view-user-details-field p {
  font-size: 1rem;
  color: black;
}

.view-user-details-actions {
  display: flex;
  justify-content: flex-end;
}

.view-user-details-actions-edit-button {
  background-color: #28a745;
}

/* Responsive adjustments */
/* @media (max-width: 768px) {
  .view-user-details-grid--three-columns,
  .view-user-details-grid--four-columns,
  .view-user-details-grid--five-columns,
  .view-user-details-grid--six-columns {
    grid-template-columns: 1fr 1fr;
  }

  .view-user-details-grid--two-columns {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .view-user-details-grid--three-columns,
  .view-user-details-grid--four-columns,
  .view-user-details-grid--five-columns,
  .view-user-details-grid--six-columns,
  .view-user-details-grid--two-columns {
    grid-template-columns: 1fr;
  }
} */
