.product-card {
  background: var(--background-light);
  border: 2px solid #a88f67;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.product-image-container {
  width: 100%;
  height: 220px;
  overflow: hidden;
  position: relative;
  padding: 15px 0px;
  box-sizing: border-box;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  transition: transform 0.3s ease;
}

.product-content {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: left;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.product-name {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 5px;
  line-height: 1.4;
  color: var(--color-green);
}

.product-description {
  color: #6b7280;
  font-size: 0.875rem;
  margin-bottom: 1.3rem;
  line-height: 1.5;
  flex-grow: 1;
}

.product-price {
  display: block;
  color: #dc2626;
  font-weight: 600;
  font-size: 1.25rem;
}

.product-card-price-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products-view-all-btn-container {
  width: 160px;
  margin: 0 auto;
  margin-top: 50px;
}
