.button {
  background-color: var(--red);
  padding: 5px 20px;
  display: flex;
  gap: 10px;
  font-weight: bold;
  transition: 0.3s ease;
  white-space: nowrap;
  text-align: center;
  justify-content: center;
}

.button img {
  width: 17px;
}

.button {
  color: var(--background);
  font-size: 18px;
  text-decoration: none;
}

.button:hover {
  opacity: 0.8;
}
