#mapModalContent {
  position: relative;
  width: 800px;
  height: 450px;
  display: flex;
  flex-direction: column;
  background: #fdf8e2;
}

.map-modal-container {
  flex: 1;
  width: 100%;
  height: 100%;
}

.map-container {
  width: 100%;
  height: 100%;
}

.close-button {
  position: absolute;
  scale: 1.8;
  top: 10px;
  right: 10px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.list-panel {
  position: absolute;
  top: 17px;
  left: 15px;
  width: 200px;
  height: 400px;
  background-color: #fdf8e2;
  border: 3px solid #a88f67;
  z-index: 10;
  box-sizing: border-box;
}
