#coupons-page-container {
  width: 100%;
  padding: 40px 60px;
  max-width: var(--page-max-width);
  /* margin: 0 auto; */
}

.title {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: var(--color-green);
}

.coupons-search-row {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 20px; */
}

/* table */

.coupons-page-table-container {
  width: 100%;
}

.coupons-page-table-container table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 50px;
}

.coupons-page-table-container th,
.coupons-page-table-container td {
  padding: 20px 15px;
  text-align: left;
}

.coupons-page-table-container tr {
  border-bottom: 1px solid #ddd;
}

/* table row button */
.coupons-page-table-button {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.coupons-page-table-button button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 12px;
  background: none;
  border: none;
  cursor: pointer;
  border: 2px solid black;
}

.coupons-page-table-button button:hover {
  opacity: 0.5;
}
