#make-your-own-pizza-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 31px;
    padding: 21px 29px 21px 29px;
}

#pizza-image {
    max-width: 485px;
    height: 524px;
}

#make-your-own-pizza-right-side {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

#make-your-own-pizza-button {
    width: 100%;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#make-your-own-pizza-description {
    height: 80px;
    color: #547351;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#make-your-own-pizza-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#make-your-own-pizza-container h2 {
    color: #1C3D19;
    height: 34px;
    flex-shrink: 0;
    align-self: stretch;
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.26px;
}

#add-ingredients {
    display: flex;
    height: 438px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-shrink: 0;
    align-self: stretch;
}

#ingredients-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 325px;
    align-items: flex-start;
    gap: 28.6px;
    flex-shrink: 0;
    align-self: stretch;
    overflow-y: auto;
}

#length-and-dough {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
    align-self: stretch;
}

#length {
    display: flex;
    flex-direction: row;
    gap: 26px;
}

#dough {
    display: flex;
    flex-direction: row;
    gap: 26px;
}

#length > button, #dough > button {
    width: 100px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    border: 2px solid rgba(168, 143, 103, 0.70);
}

#dough > button {
    width: 226px;
}

@media (max-width: 1160px) {
    .image-line {
        display: none;
    }
    #make-your-own-pizza-container{
        flex-direction: column;
    }

    #make-your-own-pizza-description{
        height: 40px;
    }

    #ingredients-list{
        height: 175px;
    }

    #add-ingredients{
        height: 288px;
    }
}



