.otp-wrapper {
    display: flex;
    gap: 12px;
    justify-content: center;
    margin: 20px 0;
}

.otp-box {
    width: 70px;
    height: 70px;
    background: var(--input-background);
    border: none;
    box-shadow: 0 0 10px rgba(28,61,25,0.1) inset;
    font-size: 40px;
    text-align: center;
    color: #1C3D19;
    font-weight: 600;
}

.otp-box:focus {
    outline: 3px solid #A88F67;
}