.modal-background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}

#dialog-container {
  background-color: white;
  left: auto;
  right: auto;
  padding: 50px;
  border: none;
}

.dialog-title-container h2 {
  color: var(--color-green);
  text-align: center;
  font-weight: 400;
  font-size: 2.8rem;
  margin-bottom: 30px;
}

.modal-close-button {
  position: absolute;
  right: 0px;
  top: 0;
  cursor: pointer;
  background: none;
  border: none;
  margin-top: 15px;
  margin-right: 15px;
}

.modal-close-button:hover {
  opacity: 0.5;
}
