#checkout-section {
  margin: 30px 0;
}

.checkout-section-wrapper {
  display: flex;
  gap: 10%;
  justify-content: center;
  max-width: var(--page-max-width);
  margin: 0 auto;
}

/* order section */

.checkout-orders-wrapper {
  border: 1px solid var(--color-border);
}
.checkout-orders-footer {
  background-color: var(--color-green);
}
