#checkout-section {
  margin: 50px 0 0 0;
}

.checkout-section-wrapper {
  display: flex;
  gap: 5%;
  justify-content: center;
  max-width: var(--page-max-width);
  margin: 0 auto;
  width: 90%;
}

/* checkout input column */
.checkout-input-col {
  width: 100%;
}
.checkout-input-col h1 {
  font-size: 2.5rem;
  color: var(--color-green);
}
.checkout-category-tabs-container {
  margin: 20px 0;
}
.checkout-category-tabs-container .category-tabs {
  padding: 0;
  width: 100%;
}

.checkout-pay-now-container {
  margin-bottom: 50px;
}

.checkout-pay-now-container .button {
  width: 100%;
  height: 2.5rem;
  align-items: center;
}

/* checkout input col inputs */
.checkout-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}
.checkout-input-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.checkout-input-row label {
  font-weight: 500;
  width: 230px;
}
.checkout-input-row input {
  width: 100% !important;
}
.checkout-inputs-user-sign-in {
  display: flex;
  justify-content: end;
}
/* discount code */
.promocode-container {
  margin-top: 2rem;
}

.promocode-container h2 {
  margin-bottom: 15px;
  font-size: 2rem;
  color: var(--color-green);
}

.promocode-container .input-submit-container {
  max-width: unset;
}

/* payment methods */
.checkout-payment-methods-container {
  margin: 3rem 0;
  background-color: #e6e5ce;
}

.checkout-payment-methods-container-wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}

.checkout-payment-methods-container h2 {
  font-size: 2rem;
  color: var(--color-green);
  margin-bottom: 20px;
}

.checkout-payment-method-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.checkout-payment-method-form label {
  display: flex;
  gap: 15px;
  align-items: center;
  cursor: pointer;
}

.checkout-payment-method-form label img {
  width: 70px;
}

.checkout-payment-method-form input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--color-green);
  border: 2px solid var(--color-green);
  position: relative;
  cursor: pointer;
  outline: none;
}

.checkout-payment-method-form input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
}

/* order section */
/* .checkout-orders-col {
  width: 40%;
} */
.checkout-orders-wrapper {
  border: 1px solid var(--color-border);
  position: sticky;
  top: 120px;
}

.checkout-orders-top-col {
  width: 90%;
  margin: 0 auto;
  padding: 15px 0;
}

.checkout-order-item {
  display: flex;
  gap: 20px;
  margin: 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--color-border);
}

.checkout-order-item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.checkout-order-item-img-container {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkout-order-item-img-container img {
  width: 100%;
}

.checkout-order-item-details {
  width: 70%;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.checkout-order-item-details-price-col {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  gap: 5px;
}

.checkout-order-item-details-price-col p {
  white-space: nowrap;
}

.checkout-order-item-details-price {
  font-weight: bold;
  font-size: 1.2rem !important;
}

.checkout-order-item-details-qty {
  color: grey;
  font-weight: bold;
}

.checkout-order-item-details p {
  font-size: 0.9rem;
}

/* footer order section */
.checkout-orders-footer {
  background-color: var(--background-dark);

  color: var(--background);
}

.checkout-orders-footer-wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.checkout-orders-footer-text-item:last-child {
  border-top: 1px solid var(--color-border);
  padding-top: 15px;
  margin-top: 15px;
}

.checkout-orders-footer-text-item p,
.checkout-orders-footer-text-item h3 {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .checkout-section-wrapper {
    flex-direction: column-reverse;
  }

  .checkout-orders-wrapper {
    border: none;
  }

  .checkout-orders-col {
    margin-top: 30px;
  }

  .checkout-inputs {
    gap: 17px;
  }

  .checkout-input-row {
    gap: 7px;
    flex-direction: column;
  }

  .checkout-input-row label {
    width: 100%;
  }

  .checkout-orders-top-col {
    width: 100%;
    padding: 0px;
  }

  .checkout-order-item-details-price {
    font-size: 1.2rem !important;
  }

  .checkout-order-item-details {
    font-size: 1.4rem;
  }

  .checkout-orders-footer {
    background: none;
    color: var(--color-green);
    font-weight: 600;
  }

  .checkout-orders-footer-wrapper {
    width: 100%;
  }

  #checkout-section {
    margin: 0 0px 30px 0px;
  }
}
