.SignIn, .Register {
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 843px;
    height: 590px;
    border: none;
    background: var(--background);
    align-items: center;
    justify-content: center;
    position: absolute;
}


.SignIn::backdrop, .Register::backdrop {
    background: rgba(0, 0, 0, 0.40);
    backdrop-filter: blur(1px);
}

.SignIn>div, .Register>div {
    width: 806px;
    height: 543px;
    border: 3px solid #A88F67;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#sign-in-button, #register-button {
    width: 536px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
}





