#reset-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 60%;
}

#reset-password-form > h1 {
    text-align: center;
}

#reset-password-form input {
    width: 100%;
}