dialog {
  z-index: 9999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 843px;
  height: 590px;
  border: none;
  background: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(1px);
}

dialog > div {
  width: 806px;
  height: 543px;
  border: 3px solid #a88f67;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#signInContent {
  display: flex;
  width: 536px;
  height: 400px;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}

#signInTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.signInTitle h1 {
  color: #1c3d19;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#signInTitle > div {
  display: flex;
  flex-direction: row;
  gap: 5px;
  color: #1c3d19;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.signInContent a {
  text-decoration: none;
  color: #919185;
  font-weight: 600;
}

.signInContent a:visited {
  text-decoration: none;
}

.signInContent a:hover {
  color: #1c3d19;
}

#inputFields {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

#inputFields > input {
  display: flex;
  height: 43px;
  padding: 5px 20px 5px 20px;
  width: 536px;
  align-items: center;
  align-self: stretch;
  background: var(--input-background);
  box-shadow: 0 0 10px 0 rgba(28, 61, 25, 0.08) inset;
  border: none;
}

#inputFields input::placeholder {
  color: var(--input-placeholder);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.45px;
  font-family: var(--font-base);
}
