dialog {
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 843px;
    height: 590px;
    border: none;
    background: var(--background);
    align-items: center;
    justify-content: center;
    position: absolute;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.40);
    backdrop-filter: blur(1px);
}

dialog>div {
    width: 806px;
    height: 543px;
    border: 3px solid #A88F67;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#signInContent{
    display: flex;
    width: 536px;
    height: 400px;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}


#signInTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h1 {
    color: #1C3D19;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}



#signInTitle>div{
    display: flex;
    flex-direction: row;
    gap: 5px;
    color: #1C3D19;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


#inputFields{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}


#sign-in-button{
    width: 536px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
}



