.success-text{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.success-text>p {
    color: #1C3D19;
    text-align: center;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 500px;
}

.success-text>h1 {
    width: 1000px;
}