.language-switcher {
  display: flex;
  gap: 8px;
  align-items: center;
}

.lang-btn {
  background: transparent;
  border: 0.1px solid var(--text-muted, #ccc);
  padding: 3.8px 8.5px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  border-color: transparent;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.lang-btn.active {
  background: var(--text-muted, #ccc);
  color: #fff;
  transform: scale(0.9);
}

.flag-icon {
  width: 24px;
  height: auto;
}
