@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

#root {
  --font-base: "Inter", sans-serif;
  display: flex;

  font-family: var(--font-base);

  /* colors */
  --background-dark: #082109;
  --color-green: #1c3d19;
  --color-green-bright: #009c22;
  --background-light: #fdf8e2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
