/* Table styling */
.users-page-table-container {
  width: 100%;
}

.users-page-table-container table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 50px;
}

.users-page-table-container th,
.users-page-table-container td {
  padding: 20px 15px;
  text-align: left;
}

.users-page-table-container tr {
  border-bottom: 1px solid #ddd;
}

.users-table-edit-address {
  margin-top: 5px;
}

.users-table-edit-address button {
  background: none;
  cursor: pointer;
  border: 2px solid black;
  padding: 3px 12px;
}
.users-table-edit-address button:hover {
  opacity: 0.6;
}
