.two-factor-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 90%;
}


.two-factor-container {

    h1 {
        width: 65%;
        text-align: center;
    }

    .twofactor-subtitle {
        text-align: center;
        font-size: 26px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: #1C3D19;
        width: 70%;
    }

    .error-text{
        color: #E10000;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 113px;
    }

    #input-and-error{
        display: flex;
        flex-direction: column;
        gap:0;
        align-items: center;
        justify-content: center;
    }

    #two-factor-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 31px;
        width: 100%;
    }

    @media (max-width: 800px){
        .otp-wrapper>.otp-box{
            width: 70px;
            height: 92px;
        }
    }
}